body {
    margin: 0;
    font-family: 'Playfair Display', serif; 
    background-color: #f0f2f5;
    color: #333;
    transition: background-color 0.3s; 
}

h1, h2, h3 {
    color: rgb(7, 18, 123);
    transition: color 0.3s; 
    font-weight: normal;
    text-align: center; 
    margin-top: 0;
    padding-top: 20px;
}

.container {
    width: 80%;
    max-width: 1200px; 
    margin: auto;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 20px rgba(0,0,0,0.15); 
}


.button {
    background-color: #023e8a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    outline: none;
    position: relative;
    overflow: hidden;
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transform: scale(0);
    transition: transform 0.5s, opacity 0.5s;
}

.button:hover::after {
    transform: scale(1.5);
    opacity: 0;
}

.button {
    background-color: #023e8a; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Playfair Display', serif; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s; 
}

.button:hover {
    background-color: #025fbc; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); 
}

.button:active {
    background-color: #01497c; 
    transform: scale(0.98); 
    box-shadow: 0 1px 5px rgba(0,0,0,0.2); 
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(2, 62, 138, 0.5); 
}
