.main-page {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease; 
    background-color: #f0f2f5; 
}

.main-page:hover {
    background-color: #e0e8ef; 
}

.main-page h1 {
    font-size: 2rem;
    color: #03045e;
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s; 
    cursor: pointer;
}

.main-page h1:hover {
    color: #023e8a; 
    transform: scale(1.1); 
    text-shadow: 2px 2px 8px rgba(0,0,0,0.2); 
}

.main-page h1:active {
    transform: scale(0.9);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-page h1 {
    animation: fadeIn 1s ease-out;
}
