.nav {
    background-color: #023e8a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-items: center;
    transition: box-shadow 0.3s, padding 0.3s; 
}

.nav:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    padding: 10px 30px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s, box-shadow 0.3s; 
    position: relative; 
    overflow: hidden; 
}

.nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(255, 255, 0, 0.5); 
    transition: left 0.3s;
    border-radius: 5px; 
}

.nav a:hover::before, .nav a:focus::before {
    left: 0; 
}

.nav a:hover, .nav a:focus {
    background-color: #025fbc;
    color: #ffd700;
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0,0,0,0.5); 
}

.nav a:active {
    transform: scale(0.95);
    background-color: #01497c; 
}

.nav a:not(:last-child) {
    margin-right: 20px; 
}

.nav a:last-child {
    background-color: #ff4757; 
    transition: background-color 0.3s ease-in-out;
}

.nav a:last-child:hover {
    background-color: #ff6b81; 
}

